#box{
  height:100vh;
}
html{
  font-family: 'Roboto', sans-serif !important;
}
h1,h2,h3,h4,h5,h6{
    font-weight:700;
}
body{
  background-image: url("../images/bg.jpg");
  background-size: cover;
}
.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.8); /*can be anything, of course*/
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.weight-300{
  font-weight: 300 !important;
}

 /* label focus color */
 .input-field input[type=number]:focus + label {
   color: #ffffff;
 }
 /* label underline focus color */
 .input-field input[type=number]:focus {
   border-bottom: 1px solid #fff !important;
   box-shadow: 0 1px 0 0 #fff !important;
 }
 /* valid color */
 .input-field input[type=number].valid {
   border-bottom: 1px solid #4caf50;
   box-shadow: 0 1px 0 0 #4caf50;
 }
 /* invalid color */
 .input-field input[type=number].invalid {
   border-bottom: 1px solid #f44336;
   box-shadow: 0 1px 0 0 #f44336;
 }
